<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="appName" source="spring.application.name" defaultValue="apigateway" />
    <!-- Console logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{YYYY-MM-dd HH:mm:ss.SSS}] [TransactionId: %X{TransactionId}] [${HOSTNAME}] [%level] [${appName}] [%logger{36}.%M] - %msg %n
            </pattern>
        </encoder>
    </appender>

    <!-- set logger level: e.g. info, trace, debug, error -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>